body {
  margin: 0;
}

header {
  background-image: url('../img/header-background.jpg');
  height: 100vh;
}

header nav {
  height: 90px;
}

nav a {
  display: inline-block;
  line-height: 90px;
}

nav .logo {
  margin-left: 3%;
}

nav img {
  max-width: 167px;
  max-height: 45px;
  vertical-align: middle;
}
